body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;;
}
header {
    background: #E7E9FC;
}
footer {
    background: rgba(46, 47, 66, 1);
}
a{
     text-decoration: none;
}
.logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo2 {
    color: #2e2f42;
}
.logolink {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.logolink:hover {
    color: #404bbf;
}
.logolink:focus {
    color: #404bbf;
}