body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;;
}
header {
    background: #E7E9FC;
}
footer {
    background: rgba(46, 47, 66, 1);
}
a{
     text-decoration: none;
}
.logo {
    font-family: "Raleway",
        sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo2 {
    color: #2e2f42;
}
.logolink {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.logolink:hover {
    color: #404bbf;
}
.logolink:focus {
    color: #404bbf;
}
.adress {
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}
.adress:hover {
    color: #404bbf;
}
.adress:focus {
    color: #404bbf;
}
.esfyb {
    padding-top: 30px;
    background-color: #2E2F42;
    font-family: "Roboto",
        sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;

    color: #4d5ae5;
}
.esfybtxt {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.esfybbutton {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.esfybbutton:hover {
    background-color: #404bbf;
}
.esfybbutton:focus {
    background-color: #404bbf;
}
.nullseen {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nullseenp {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.secthree {
    background-color: #F4F4FD;
}
.otm {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize
}
.liststhree {
    background-color: #FFFFFF
}
.listh {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.limg {
    font-size: 36px;
    line-height: 1.11;
}
.limgp {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.logothree {
    color: #f4f4fd
}
.footp {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.items {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.itemsp {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}