body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;;
}
header {
    background: rgba(46, 47, 66, 1);
}
footer {
    background: rgba(46, 47, 66, 1);
}
a{
     text-decoration: none;
}
.logo {
    font-family: "Raleway",
        sans-serif;
}